.user-card {
    background-color: #e9e7f6;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-card h3 {
    margin-top: 0;
  }
  
  .user-card p {
    margin-bottom: 5px;
  }